<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BHNFoods Admin </title>
    <link rel="stylesheet" th:href="@{/admin_template/vendors/feather/feather.css}">
    <link rel="stylesheet" th:href="@{/admin_template/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/admin_template/vendors/ti-icons/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/admin_template/vendors/typicons/typicons.css}">
    <link rel="stylesheet" th:href="@{/admin_template/vendors/simple-line-icons/css/simple-line-icons.css}">
    <link rel="stylesheet" th:href="@{/admin_template/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.css}">
    <link rel="stylesheet" th:href="@{/admin_template/js/select.dataTables.min.css}">
    <link rel="stylesheet" th:href="@{/admin_template/css/vertical-layout-light/style.css}">
    <!-- endinject -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

</head>
<style>
    #viewcontent .edit_formUser {
        height: 500%;
        width: 100%;
        background: rgba(0, 0, 0, 0.73);
        position: absolute;
        z-index: 1500;
        top: 0;

    }

    .edit_formUser .cen-div {
        margin: auto;
        background: #f1f1f1;
        width: 50%;
        margin-top: 2%;
        border-radius: 5px;
    }

    .edit_formUser .padding10px {
        padding: 10px 0;
    }

    .edit_formUser .cen-div form .form-group {
        margin-bottom: 1.1rem;
    }

    .btn_huy_update {
        margin-bottom: 20px;
        justify-content: end;
    }

    .btn_huy_update input {
        border-radius: 5px;
        background: #7fad39;
        border: none;
        padding: 8px 20px;
        color: white;
    }

    .row .col-sm-12 .grid_statistical {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
</style>

<body>
<!-- partial:partials/_navbar.html -->
<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
        <div>
            <a class="navbar-brand brand-logo" href="adminMain.jsp">
                BHNFoods
            </a>
        </div>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-top colorheader ">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown d-none d-lg-block">
                <div class="">
                    <select name="lang" onchange="changeLanguage(this.value)" style="margin-left: auto;border: none"
                            class="nav-link dropdown-bordered dropdown-toggle dropdown-toggle-split">
                        <option value="en" th:selected="${#locale.language == 'en'}">English</option>
                        <option value="vi" th:selected="${#locale.language == 'vi'}">Tiếng Việt</option>
                    </select>
                </div>
            </li>
            <li class="nav-item dropdown d-none d-lg-block">
                <a class="nav-link dropdown-bordered dropdown-toggle dropdown-toggle-split" id="messageDropdown"
                   href="#"
                   data-bs-toggle="dropdown" aria-expanded="false" th:text="#{filter}"> </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0"
                     aria-labelledby="messageDropdown">

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item" href="/AdminManageUser">
                        <div class="preview-item-content flex-grow py-2">
                            <p class="preview-subject ellipsis font-weight-medium text-dark">Người dùng</p>
                            <p class="fw-light small-text mb-0">Trang chi tiết người dùng</p>
                        </div>
                    </a>
                    <a class="dropdown-item preview-item" href="/AdminMain">
                        <div class="preview-item-content flex-grow py-2">
                            <p class="preview-subject ellipsis font-weight-medium text-dark">Admin</p>
                            <p class="fw-light small-text mb-0">Trang chi tiết Admin</p>
                        </div>
                    </a>
                    <a class="dropdown-item preview-item"
                       href="/AdminManagePr?kind=0&page=1">
                        <div class="preview-item-content flex-grow py-2">
                            <p class="preview-subject ellipsis font-weight-medium text-dark">Sản Phẩm </p>
                            <p class="fw-light small-text mb-0">Trang chi tiết quản lý sản phẩm</p>
                        </div>
                    </a>
                    <a class="dropdown-item preview-item" href="#">
                        <div class="preview-item-content flex-grow py-2">
                            <p class="preview-subject ellipsis font-weight-medium text-dark">Đơn hàng </p>
                            <p class="fw-light small-text mb-0">Trang quản lý đơn hàng</p>
                        </div>
                    </a>

                </div>
            </li>
            <li class="nav-item d-none d-lg-block">
                <div id="datepicker-popup" class="input-group date datepicker navbar-date-picker">
            <span class="input-group-addon input-group-prepend border-right">
              <span class="icon-calendar input-group-text calendar-icon"></span>
            </span>
                    <input type="text" class="form-control">
                </div>
            </li>
            <li class="nav-item">
                <form class="search-form" action="#">
                    <i class="icon-search"></i>
                    <input type="search" class="form-control" placeholder="Search Here" title="Search here">
                </form>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link count-indicator" id="countDropdown" href="" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <i class="icon-mail icon-lg">[<span th:text="${sumContact}"/>]</i>
                </a>
            </li>
            </li>
        </ul>

        <!-- Navigation bar content -->
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                data-bs-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
        </button>
    </div>
</nav>
<!-- partial -->
<div class="container-fluid page-body-wrapper">
    <div th:include="header_Admin.html"></div>
    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <div class="home-tab">
                        <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab"
                                       href="#overview"
                                       role="tab"
                                       aria-controls="overview" aria-selected="true" th:text="#{overview}"></a>
                                </li>
                            </ul>
                            <div>
                                <!-- Buttons for share, print, export can be added here if needed -->
                            </div>
                        </div>
                        <div class="tab-content tab-content-basic">
                            <div class="tab-pane fade show active" id="overview" role="tabpanel"
                                 aria-labelledby="overview">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="statistics-details align-items-center justify-content-between grid_statistical">
                                            <div>
                                                <p class="statistics-title">Tổng doanh thu</p>
                                                <h3 class="rate-percentage"
                                                    th:text="${allTur} + ' VNĐ'"></h3>
                                            </div>
                                            <div>
                                                <p class="statistics-title">Doanh thu tháng hiện tại</p>
                                                <h3 class="rate-percentage"
                                                    th:text="${nowTur} + ' VNĐ'"></h3>
                                            </div>
                                            <div>
                                                <p class="statistics-title">Tổng số mặt hàng đã được bán</p>
                                                <h3 class="rate-percentage" th:text="${saledPrAll}"></h3>
                                            </div>
                                            <div>
                                                <p class="statistics-title">Mặt hàng ngừng kinh doanh</p>
                                                <h3 class="rate-percentage" th:text="${stopSaled}"></h3>
                                            </div>
                                            <div class="d-none d-md-block">
                                                <p class="statistics-title">Khách hàng mới</p>
                                                <h3 class="rate-percentage" th:text="${newbie}"></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="statistics-details align-items-center justify-content-between grid_statistical">
                                            <div>
                                                <p class="statistics-title">Sản phẩm bán chạy nhất</p>
                                                <h3 class="rate-percentage">
                                                    <a th:href="@{/formEdit(id=${hotSale.get(0).idPr})}"
                                                       th:text="${hotSale.get(0).namePr}"></a>
                                                </h3>
                                            </div>
                                            <div>
                                                <p class="statistics-title">Số mặt hàng đã bán trong
                                                    tháng</p>
                                                <h3 class="rate-percentage" th:text="${saledPr}"></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Add more content as needed -->
                                <div class="row">
                                    <div class="col-lg-8 d-flex flex-column">
                                        <div class="row flex-grow">
                                            <div class="col-12 grid-margin stretch-card">
                                                <div class="card card-rounded">
                                                    <div class="card-body">
                                                        <div class="d-sm-flex justify-content-between align-items-start">
                                                            <div>
                                                                <h4 class="card-title card-title-dash">Biểu đồ doanh thu
                                                                    theo năm</h4>
                                                            </div>
                                                        </div>

                                                        <div class="d-sm-flex align-items-center mt-1 justify-content-between">
                                                            <div class="d-sm-flex align-items-center mt-4 justify-content-between">
                                                                <h2 class="me-2 fw-bold">Tổng doanh thu năm 2023 là:
                                                                    <span th:text="${tur1}">0</span> VNĐ
                                                                </h2>
                                                            </div>
                                                            <div class="me-3">
                                                                <div id="marketing-overview-legend"></div>
                                                            </div>
                                                        </div>
                                                        <div class="chartjs-bar-wrapper mt-3">
                                                            <canvas id="marketingOverview"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Add more content as needed -->
                                    <div class="row flex-grow">

                                        <div class="col-md-6 col-lg-6 grid-margin stretch-card">
                                            <div class="card card-rounded">
                                                <div class="card-body">
                                                    <div class="d-flex align-items-center justify-content-between mb-3">
                                                        <h4 class="card-title card-title-dash">Sản phẩm bán chạy</h4>
                                                    </div>
                                                    <ul class="bullet-line-list">
                                                        <li th:each="product, iterStat : ${hotSale}"
                                                            th:if="${iterStat.index < 8}">
                                                            <div class="d-flex justify-content-between">
                                                                <a th:href="@{/ShowProductToUpdate(id=${product.idPr})}">
                                                                    <div>
                                                                    <span class="text-light-green"
                                                                          th:text="${product.namePr}"></span>
                                                                    </div>
                                                                    <p th:text="${product.price} + ' VND'"></p>
                                                                </a>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="list align-items-center pt-3">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card card-rounded">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="d-flex justify-content-between align-items-center mb-3">
                                                                <h4 class="card-title card-title-dash">Thống kê người
                                                                    dùng sử dụng Browser để vào website</h4>
                                                            </div>
                                                            <canvas class="my-auto" id="doughnutChart"
                                                                    height="200"></canvas>
                                                            <div id="doughnut-chart-legend"
                                                                 class="mt-5 text-center"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="viewcontent">
</div>

<script th:src="@{/admin_template/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/admin_template/vendors/chart.js/Chart.min.js}"></script>
<script th:src="@{/admin_template/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/admin_template/vendors/progressbar.js/progressbar.min.js}"></script>

<script th:src="@{/admin_template/js/off-canvas.js}"></script>
<script th:src="@{/admin_template/js/hoverable-collapse.js}"></script>
<script th:src="@{/admin_template/js/template.js}"></script>
<script th:src="@{/admin_template/js/settings.js}"></script>
<script th:src="@{/admin_template/js/todolist.js}"></script>
<script th:src="@{/admin_template/js/jquery.cookie.js}" type="text/javascript"></script>
<script th:inline="javascript">
    function changeLanguage(lang) {
        const url = new URL(window.location.href);
        url.searchParams.set('lang', lang);
        window.location.href = url.toString();
    }

    /* <![CDATA[ */
    var viewBrowser = {};
    var doughnutChartData = [
        viewBrowser['Google Chrome'] || 0,
        viewBrowser['Mozilla Firefox'] || 0,
        viewBrowser['Microsoft Edge'] || 0,
        viewBrowser['Apple Safari'] || 0,
        viewBrowser['Opera'] || 0
    ];

    if (document.getElementById("doughnutChart")) {
        var doughnutChartCanvas = document.getElementById("doughnutChart").getContext("2d");
        var doughnutPieData = {
            datasets: [{
                data: doughnutChartData,
                backgroundColor: ["#ffdd02", "#f51313", "#52CDFF", "#1d8f01", "#da81a0"],
                borderColor: ["#ffdd02", "#f51313", "#52CDFF", "#1d8f01", "#da81a0"]
            }],
            labels: ['Google Chrome', 'Mozilla Firefox', 'Microsoft Edge', 'Apple Safari', 'Opera']
        };
        var doughnutPieOptions = {
            cutoutPercentage: 50,
            animationEasing: "easeOutBounce",
            animateRotate: true,
            animateScale: false,
            responsive: true,
            maintainAspectRatio: true,
            showScale: true,
            legend: false,
            legendCallback: function (chart) {
                var text = [];
                text.push('<div class="chartjs-legend"><ul class="justify-content-center">');
                for (var i = 0; i < chart.data.datasets[0].data.length; i++) {
                    text.push('<li><span style="background-color:' + chart.data.datasets[0].backgroundColor[i] + '">');
                    text.push('</span>');
                    if (chart.data.labels[i]) {
                        text.push(chart.data.labels[i]);
                    }
                    text.push('</li>');
                }
                text.push('</div></ul>');
                return text.join("");
            },
            layout: {
                padding: {left: 0, right: 0, top: 0, bottom: 0}
            },
            tooltips: {
                callbacks: {
                    title: function (tooltipItem, data) {
                        return data['labels'][tooltipItem[0]['index']];
                    },
                    label: function (tooltipItem, data) {
                        return data['datasets'][0]['data'][tooltipItem['index']];
                    }
                },
                backgroundColor: '#fff',
                titleFontSize: 14,
                titleFontColor: '#0B0F32',
                bodyFontColor: '#737F8B',
                bodyFontSize: 11,
                displayColors: false
            }
        };
        var doughnutChart = new Chart(doughnutChartCanvas, {
            type: 'doughnut',
            data: doughnutPieData,
            options: doughnutPieOptions
        });
        document.getElementById('doughnut-chart-legend').innerHTML = doughnutChart.generateLegend();
    }

    var data2021 = `[[${data0}]]`;
    var data2022 = `[[${data}]]`;
    var data2023 = `[[${data1}]]`;
    if (document.getElementById("marketingOverview")) {
        var marketingOverviewChart = document.getElementById("marketingOverview").getContext('2d');
        var marketingOverviewData = {
            labels: ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"],
            datasets: [
                {
                    label: 'năm 2021',
                    data: data2021,
                    backgroundColor: "#1F3B93",
                    borderColor: ['#1F3B93'],
                    borderWidth: 0,
                    fill: true
                },
                {
                    label: 'năm 2022',
                    data: data2022,
                    backgroundColor: "#52CDFF",
                    borderColor: ['#52CDFF'],
                    borderWidth: 0,
                    fill: true
                },
                {
                    label: 'năm 2023',
                    data: data2023,
                    backgroundColor: "#1F3BB3",
                    borderColor: ['#1F3BB3'],
                    borderWidth: 0,
                    fill: true
                }
            ]
        };
        var marketingOverviewOptions = {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    gridLines: {
                        display: true,
                        drawBorder: false,
                        color: "#F0F0F0",
                        zeroLineColor: '#F0F0F0',
                    },
                    ticks: {
                        beginAtZero: true,
                        autoSkip: true,
                        maxTicksLimit: 5,
                        fontSize: 10,
                        color: "#6B778C"
                    }
                }],
                xAxes: [{
                    stacked: true,
                    barPercentage: 0.35,
                    gridLines: {
                        display: false,
                        drawBorder: false,
                    },
                    ticks: {
                        beginAtZero: false,
                        autoSkip: true,
                        maxTicksLimit: 12,
                        fontSize: 10,
                        color: "#6B778C"
                    }
                }],
            },
            legend: false,
            legendCallback: function (chart) {
                var text = [];
                text.push('<div class="chartjs-legend"><ul>');
                for (var i = 0; i < chart.data.datasets.length; i++) {
                    text.push('<li class="text-muted text-small">');
                    text.push('<span style="background-color:' + chart.data.datasets[i].borderColor + '">' + '</span>');
                    text.push(chart.data.datasets[i].label);
                    text.push('</li>');
                }
                text.push('</ul></div>');
                return text.join("");
            },
            elements: {
                line: {tension: 0.4}
            },
            tooltips: {
                backgroundColor: 'rgba(31, 59, 179, 1)',
            }
        };
        var marketingOverview = new Chart(marketingOverviewChart, {
            type: 'bar',
            data: marketingOverviewData,
            options: marketingOverviewOptions
        });
        document.getElementById('marketing-overview-legend').innerHTML = marketingOverview.generateLegend();
    }

    function viewContent(idcontact, iduser, nameUser, phone, email, content, condition) {
        $.ajax({
            url: "/ViewContact",
            type: 'get',
            data: {
                idcontact: idcontact,
                iduser: iduser,
                nameUser: nameUser,
                email: email,
                phone: phone,
                content: content,
                condition: condition
            },
            success: function (data) {
                const content = document.getElementById('viewcontent');
                content.innerHTML = data;
            },
            error: function () {
            }
        });
        $("#viewcontent .edit_formUser").css("display", "block");
    }

    function huy() {
        $("#viewcontent .edit_formUser").css("display", "none");
    }

    /* ]]> */
</script>

<script th:src="@{/admin_template/js/Chart.roundedBarCharts.js}"></script>
<!-- End custom js for this page-->
</body>

</html>