<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BHNFoods | Giỏ hàng</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="body_design/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="body_design/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="body_design/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="body_design/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="body_design/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="body_design/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="body_design/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="body_design/css/style.css" type="text/css">
</head>
<body>

<header th:replace="header.html"></header>

<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                        <tr>
                            <th class="shoping__product">Sản Phẩm</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Tổng</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody th:each="p : ${listCart}">
                        <tr th:id="${p.getIdPr()}">
                            <td class="shoping__cart__item">
                                <img th:src="${p.product.getAvt().getUrl()}" alt="" style="width: 100px;height: auto">
                                <h5 th:text="${p.product.getNamePr()}"></h5>
                            </td>
                            <td class="shoping__cart__price">
                                <span th:text="${#numbers.formatDecimal((p.getProduct().getPrice() - (p.getProduct().getPrice() * p.getProduct().getDiscount())/100),0,'POINT',0,'COMMA')} + 'đ'"></span>
                            </td>
                            <td class="shoping__cart__quantity">
                                <div class="quantity">
                                    <div class="pro-qty">
                                        <span th:data-orginprice="${p.getProduct().price - (p.getProduct().price  * p.getProduct().discount) / 100}"
                                              th:data-idprod="${p.idPr}"
                                              th:data-header="totalCart"
                                              onclick="changeAmount(this)"
                                              class="dec qtybtn">-</span>
                                        <input th:id="'amount' + ${p.idPr}" type="text" th:value="${p.amount}">
                                        <span th:data-orginprice="${p.getProduct().price - (p.getProduct().price  * p.getProduct().discount) / 100}"
                                              th:data-idprod="${p.idPr}"
                                              th:data-header="totalCart"
                                              onclick="changeAmount(this)"
                                              class="inc qtybtn">+</span>
                                    </div>
                                </div>
                            </td>
                            <td th:id="'total' + ${p.idPr}" class="shoping__cart__total">
                                <span th:text="${#numbers.formatDecimal(p.amount * (p.product.getPrice() - (p.product.getPrice() * p.product.getDiscount()) / 100), 0, 'POINT', 0, 'COMMA')} + ' đ'"></span>
                            </td>
                            <td style="padding: 30px">
                                <input name="checkboxInput" th:id="'box' + ${p.idPr}"
                                       th:data-idcheck="'box' + ${p.idPr}" th:data-id="${p.idPr}"
                                       th:data-price="${p.product.price}" th:data-amountid="'amount' + ${p.idPr}"
                                       onclick="checkBox(this)"
                                       class="checkBoxCart"
                                       type="checkbox"
                                       checked
                                       style="transform: scale(1.5)">
                            </td>
                            <td class="shoping__cart__item__close">
                                <span th:data-idcheck="'box' + ${p.idPr}" th:data-id="${p.idPr}"
                                      th:data-price="${p.product.price}"
                                      th:data-amountid="'amount' + ${p.idPr}"
                                      onclick="removeProduct(this)"
                                      class="icon_close"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a href="/listProduct?kind=1&page=1" class="primary-btn cart-btn">Tiếp tục mua hàng</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__continue">
                    <div id="boxMaGiamGia" class="shoping__discount">
                        <h5>Mã giảm giá</h5>
                        <input id="maGiamGia" type="text" placeholder="Nhập mã giảm giá">
                        <button onclick="applyDiscount()">Áp dụng</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <form id="checkoutForm" th:action="@{/checkout}" method="post">
                    <div id="checkOut" class="shoping__checkout" style="margin-top: 0">
                        <h5>Tổng giỏ hàng</h5>
                        <ul>
                            <li id="sum" th:value="${sum}">Tổng tiền hàng
                                <input name="sumCheckout" th:value="${sum}" style="display: none">
                                <span th:text="${#numbers.formatDecimal(sum,1,'POINT', 0,'COMMA')} + 'đ'"></span>
                            </li>
                            <li id="discount" th:value="${0}">Tiết kiệm
                                <input name="discountCheckout" th:value="${0}" style="display: none">
                                <span th:text="${#numbers.formatDecimal(0,1,'POINT', 0, 'COMMA')} + 'đ'"></span>
                            </li>
                            <li id="total" th:value="${sum - 0}">Tổng thanh toán (chưa gồm phí vận chuyển)
                                <input name="totalCheckout" th:value="${sum - 0}" style="display: none">
                                <span th:text="${#numbers.formatDecimal(sum - 0,1,'POINT', 0,'COMMA')} + 'đ'"></span>
                            </li>
                            <input id="idProdChecked" type="text" name="allIdProdChecked" value=""
                                   style="display: none">
                            <input id="maGiamGiaHide" name="maGiamGia" value="" style="display: none">
                        </ul>
                        <button type="submit" class="primary-btn">Thanh toán</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<div th:include="chat.html"></div>
<footer th:replace="footer.html"></footer>

<script>
    $(document).ready(function () {
        $("#checkoutForm").submit(function (event) {
            var idProdChecked = $("#idProdChecked").val();

            if (idProdChecked == "") {
                event.preventDefault(); // Chặn việc submit form
                alert("Bạn hãy mua hàng");
            }
        });
    });

    let allCheckbox = $('.checkBoxCart')
    var toStringIdChecked = "";
    for (let i = 0; i < allCheckbox.length; i++) {
        if (allCheckbox[i].checked === true) {
            toStringIdChecked += " " + allCheckbox[i].id;
        }
    }
    $('#idProdChecked').val(toStringIdChecked);

    let sumCart = "${sumCart}";

    function format1(n, currency) {
        return n.toFixed(0).replace(/./g, function (c, i, a) {
            return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "." + c : c;
        }) + currency;
    }

    function cancelAppyDiscount() {
        let allCheckbox = $('.checkBoxCart')
        var toStringIdChecked = "";
        for (let i = 0; i < allCheckbox.length; i++) {
            if (allCheckbox[i].checked === true) {
                toStringIdChecked += " " + allCheckbox[i].id;
            }
        }
        $('#idProdChecked').val(toStringIdChecked);
        $.ajax({
            url: "/canelApplyDiscount",
            type: 'get',
            data: {
                sum: $('#sum').val(),
                discount: $('#discount').val(),
                listId :toStringIdChecked,
            },
            success: function (data) {
                const content = document.getElementById('checkOut')
                content.innerHTML = data;
                const boxMaGiamGia = document.getElementById('boxMaGiamGia');
                boxMaGiamGia.innerHTML = "<h5>Mã giảm giá</h5>" +
                    "<input id=\"maGiamGia\" type=\"text\" value='" + $('#maGiamGia').val() + "' placeholder=\"Nhập mã giảm giá\"> " +
                    "<button th:onclick=\"applyDiscount()\">Áp dụng</button>"
                $('#maGiamGiaHide').val('');

            },
            error: function () {
            }
        });
    }










    function applyDiscount() {
        let allCheckbox = $('.checkBoxCart')
        var toStringIdChecked = "";
        for (let i = 0; i < allCheckbox.length; i++) {
            if (allCheckbox[i].checked === true) {
                toStringIdChecked += " " + allCheckbox[i].id;
            }
        }
        $('#idProdChecked').val(toStringIdChecked);
        $.ajax({
            url: "/applyDiscount",
            type: 'get',
            data: {
                code: $('#maGiamGia').val(),
                sum: $('#sum').val(),
                discount: $('#discount').val(),
                listId :toStringIdChecked,
            },
            success: function (data) {
                if (data == 0) alert("Mã " + $('#maGiamGia').val() + " tạm thời đã hết")
                else if (data == 1) alert("Đơn hàng chưa đạt giá trị tối thiểu")
                else if (data == 2) alert("Bạn đã áp dụng mã rồi")
                else if (data == 3) alert("Mã giảm giá không tồn tại")
                else {
                    const content = document.getElementById('checkOut')
                    content.innerHTML = data;
                    const boxMaGiamGia = document.getElementById('boxMaGiamGia');
                    boxMaGiamGia.innerHTML = "<h5>Mã giảm giá</h5>" +
                        "<input id=\"maGiamGia\" type=\"text\" value=\"" + $('#maGiamGia').val() + "\" placeholder=\"Nhập mã giảm giá\"> " +
                        "<button onclick=\"cancelAppyDiscount()\">Huỷ áp dụng</button>"
                    $('#maGiamGiaHide').val($('#maGiamGia').val());
                }

            },
            error: function () {
            }
        });

    }

    function changeAmount(button) {
        let newVal;
        let orginPrice = button.getAttribute('data-orginprice');
        let idProd = button.getAttribute('data-idprod');
        let elementHeader = document.getElementById(button.getAttribute('data-header'));
        let sum = document.getElementById('sum').value;
        let discount = document.getElementById('discount').value;
        let total = document.getElementById('total').value;
        let elementI = $('#amount' + idProd);
        let oldValue = elementI.val();
        let allCheckbox = document.getElementsByClassName('checkBoxCart');
        let toStringIdChecked = "";
        for (let i = 0; i < allCheckbox.length; i++) {
            if (allCheckbox[i].checked === true) {
                toStringIdChecked += " " + allCheckbox[i].id;
            }
        }
        $('#idProdChecked').val(toStringIdChecked);
        $.ajax({
            url: "/checkInventory",
            type: 'get',
            data: {
                id: idProd,
            },
            success: function (data) {
                if (button.classList.contains('inc')) {

                    if (parseInt(data) > parseInt(oldValue)) {
                        newVal = parseFloat(oldValue) + 1;
                        sumCart += 1;
                    } else {
                        newVal = oldValue;
                    }
                    if (document.getElementById('box' + idProd).checked) sum = parseInt(sum) + parseInt(orginPrice);
                } else {
                    // Don't allow decrementing below one
                    if (oldValue > 1) {
                        newVal = parseFloat(oldValue) - 1;
                        sumCart -= 1;
                        if (document.getElementById('box' + idProd).checked) sum = parseInt(sum) - parseInt(orginPrice);
                    } else {
                        newVal = 1;
                    }
                }
                elementI.val(newVal);
                elementHeader.innerHTML = "<a href=\"/Cart\" class=\"nav-link\">\n" +
                    "                        <span class=\"fa-solid fa-cart-shopping\"></span>[" + sumCart + "]</a>";
                const totalF = format1(parseInt(orginPrice) * parseInt(newVal), ' đ')
                $('#total' + idProd).text(totalF);
                $.ajax({
                    url: "/changeAmountFormCart",
                    type: 'get',
                    data: {
                        id: idProd,
                        sum: sum,
                        discount: discount,
                        total: total,
                        amount: newVal,
                        listId: toStringIdChecked
                    },
                    success: function (data) {
                        const content = document.getElementById('checkOut')
                        content.innerHTML = data;
                    },
                    error: function () {
                    }
                });
            },
            error: function () {
            }
        });
    }


    function removeProduct(element) {
        let elementInput = element.getAttribute('data-idcheck');
        let idProduct = element.getAttribute('data-id');
        let price = parseFloat(element.getAttribute('data-price'));
        let elementInputAmount = element.getAttribute('data-amountid');
        document.getElementById(idProduct).remove();

        let allCheckbox = $('.checkBoxCart')
        var toStringIdChecked = "";
        for (let i = 0; i < allCheckbox.length; i++) {
            if (allCheckbox[i].checked === true) {
                toStringIdChecked += " " + allCheckbox[i].id;
            }
        }
        $('#idProdChecked').val(toStringIdChecked);

        let sum = $('#sum').val();
        let discount = $('#discount').val();
        let total = $('#total').val();
        let amount = elementInputAmount.value;
        if (elementInput.checked === true) {
            sum = sum - price * amount;
            total = total - price * amount;
        }
        $.ajax({
            url: "/removeFromCart",
            type: 'get',
            data: {
                id: idProduct,
                sum: sum,
                discount: discount,
                total: total,
                listId: toStringIdChecked
            },
            success: function (data) {
                const content = document.getElementById('checkOut')
                content.innerHTML = data;
                sumCart = sumCart - amount;
                $('#totalCart').innerHTML = "<a href=\"/Cart?\" class=\"nav-link\">\n" +
                    "                        <span class=\"fa-solid fa-cart-shopping\"></span>[" + sumCart + "]</a>";
            },
            error: function () {
                console.error("Error processing request.");
            }
        });
    }

    function checkBox(box) {
        let idProduct = box.getAttribute('data-id');
        let price = box.getAttribute('data-price');
        let amountId = box.getAttribute('data-amountid');

        let sum;
        let total;
        let amount = $('#' + amountId).val();
        console.log(amount)

        let allCheckbox = document.querySelectorAll('.checkBoxCart');
        var toStringIdChecked = "";
        allCheckbox.forEach(checkbox => {
            if (checkbox.checked) {
                toStringIdChecked += " " + checkbox.id;
            }
        });
        document.getElementById('idProdChecked').value = toStringIdChecked.trim();

        if (box.checked) {
            sum = parseInt(document.getElementById('sum').value) + parseInt(price) * amount;
            total = parseInt(document.getElementById('total').value) + parseInt(price) * amount;
        } else {
            sum = parseInt(document.getElementById('sum').value) - parseInt(price) * amount;
            total = parseInt(document.getElementById('total').value) - parseInt(price) * amount;
        }
        let discount = document.getElementById('discount').value;

        $.ajax({
            url: '/unCheckFromCart',
            type: 'get',
            data: {
                id: idProduct,
                sum: sum,
                discount: discount,
                total: total,
                listId: toStringIdChecked
            },
            success: function (data) {
                const content = document.getElementById('checkOut');
                content.innerHTML = data;
            },
            error: function () {
                console.error("Error processing request.");
            }
        });
    }
</script>

<!-- Js Plugins -->
<script th:src="@{/body_design/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/body_design/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/body_design/js/jquery-ui.min.js}"></script>
<script th:src="@{/body_design/js/jquery.slicknav.js}"></script>
<script th:src="@{/body_design/js/mixitup.min.js}"></script>
<script th:src="@{/body_design/js/owl.carousel.min.js}"></script>
<script th:src="@{/body_design/js/main.js}"></script>

</body>
</html>
