<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BHNFoods | Chi tiết thanh toán</title>
</head>
<body>

<header th:replace="header :: header"></header>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 ftco-animate">
                <form action="#" class="billing-form">
                    <h3 class="mb-4 billing-heading">Chi tiết thanh toán</h3>
                    <div class="row align-items-end">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Họ và Tên</label>
                                <input id="fullName" type="text" class="form-control" placeholder="Nhập họ tên đầy đủ"
                                       th:value="${user != null ? user.getNameUser() : ''}" required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Số điện thoại</label>
                                <input id="phoneNumber" type="text" class="form-control"
                                       placeholder="Nhập số điện thoại"
                                       th:value="${user != null ? user.getPhone() : ''}" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input id="email" type="text" class="form-control" placeholder="Nhập địa chỉ Email"
                                       th:value="${user != null ? user.getEmail() : ''}">
                            </div>
                        </div>
                        <div class="w-100"></div>

                        <div class="col-md-12" id="shipAddress">
                            <div class="form-group">
                                <label>Tỉnh, Thành phố</label>
                                <select id="city" type="text" class="form-control" onchange="addDistrict">
                                    <option th:each="entry : ${mapProvince}" th:value="${entry.value}"
                                            th:text="${entry.key}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Quận, Huyện</label>
                                <select id="district" type="text" class="form-control" onchange="addWard"></select>
                            </div>
                            <div class="form-group">
                                <label>Phường, Xã</label>
                                <select id="ward" type="text" class="form-control" onchange="changeWard"></select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Địa chỉ giao hàng (Đường, số nhà)</label>
                                <div class="select-wrap">
                                    <input name="" id="address" class="form-control"
                                           placeholder="Nhập địa chỉ giao hàng" th:value="${''}">
                                </div>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Ghi chú</label>
                                <textarea id="note" type="text" class="form-control"
                                          placeholder="Khách hàng có những yêu cầu khác vui lòng nhập vào đây để cửa hàng có thể phục vụ tốt nhất"></textarea>
                            </div>
                        </div>
                        <div class="w-100"></div>
                    </div>
                </form><!-- END -->
            </div>
            <div class="col-xl-5">
                <div class="row mt-5 pt-3">
                    <div class="col-md-12 d-flex mb-5">
                        <div class="cart-detail cart-total p-3 p-md-4">
                            <h3 class="billing-heading mb-4" style="font-size: 24px">Tổng giỏ hàng</h3>
                            <ul id="totalCard" style="padding: 0">
                                <li id="sumCheckout" th:value="${sum}" style="overflow: hidden; margin-bottom: 1rem">
                                    Tổng tiền hàng<span style="float: right"
                                                        th:text="${#numbers.formatDecimal(sum, '#,###')} + 'đ'"></span>
                                </li>
                                <li id="discountCheckout" th:value="${discount}"
                                    style="overflow: hidden; margin-bottom: 1rem">Giảm<span style="float: right"
                                                                                            th:text="${#numbers.formatDecimal(discount, '#,###')} + 'đ'"></span>
                                </li>
                                <li id="shipCheckout" th:value="0" style="overflow: hidden; margin-bottom: 1rem">Phí vận
                                    chuyển<span style="float: right">0đ</span></li>
                                <li id="totalCheckout" th:value="${total}" style="overflow: hidden">Tổng thanh toán<span
                                        style="float: right"
                                        th:text="${#numbers.formatDecimal(total, '#,###')} + 'đ'"></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="cart-detail p-3 p-md-4">
                            <h3 class="billing-heading mb-4">Phương thức thanh toán</h3>
                            <div class="form-group">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio">
                                            <label><input type="radio" checked="checked" value="1" name="optradio"
                                                          class="mr-2"> Thanh toán tiền mặt</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label><input type="radio" value="0" name="optradio" class="mr-2"> Thanh toán
                                            online</label>
                                    </div>
                                </div>
                            </div>
                            <input type="text" id="allId" th:value="${all}" style="display: none">
                            <input type="text" id="maGiamGia" th:value="${maGiamGia}" style="display: none">
                            <p>
                                <button onclick="pay()" class="btn btn-primary py-3 px-4 " style="border-radius:0px">Đặt
                                    hàng
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="footer.html"></footer>

<!-- Js Plugins -->
<script>
    function pay() {
        if ($('#fullName').val() == "" || $('#phoneNumber').val() == "" || $('#address').val() == "" || $('#city').val() == "" || $('#district').val() == "" || $('#ward').val() == "") {
            alert('Hãy nhập đầy đủ các thông tin');
        } else {
            // Lấy phần tử select bằng id
            var selectStringCity = document.getElementById("city");
            var selectStringDistrict = document.getElementById("district");
            var selectStringWard = document.getElementById("ward");

            // Lấy chỉ mục của phần tử được chọn
            var selectedIndexCity = selectStringCity.selectedIndex;
            var selectedIndexDistrict = selectStringDistrict.selectedIndex;
            var selectedIndexWard = selectStringWard.selectedIndex;

            // Lấy đối tượng HTMLOptionElement tương ứng với chỉ mục
            var selectedOptionCity = selectStringCity.options[selectedIndexCity];
            var selectedOptionDistrict = selectStringDistrict.options[selectedIndexDistrict];
            var selectedOptionWard = selectStringWard.options[selectedIndexWard];

            // Lấy nội dung văn bản của phần tử HTMLOptionElement
            var selectedTextCity = selectedOptionCity.textContent;
            var selectedTextDistrict = selectedOptionDistrict.textContent;
            var selectedTextWard = selectedOptionWard.textContent;
            document.body.style.cursor = 'wait';

            $.ajax({
                url: "/pay",
                type: 'get',
                data: {
                    fullName: $('#fullName').val(),
                    phoneNumber: $('#phoneNumber').val(),
                    email: $('#email').val(),
                    address: $('#address').val(),
                    idCity: $('#city').val(),
                    idDistrict: $('#district').val(),
                    idWard: $('#ward').val(),
                    city: selectedTextCity,
                    district: selectedTextDistrict,
                    ward: selectedTextWard,
                    note: $('#note').val(),
                    payment: $('input[type="radio"][name="optradio"]:checked').val(),
                    sumCheckout: $('#sumCheckout').val(),
                    discountCheckout: $('#discountCheckout').val(),
                    shipCheckout: $('#shipCheckout').val(),
                    totalCheckout: $('#totalCheckout').val(),
                    listId: $('#allId').val(),
                    maGiamGia: $('#maGiamGia').val(),
                },
                success: function (data) {
                    let timerId = setInterval(setBody(), 1000);
                    setTimeout(() => {
                        clearInterval(timerId);
                        Redirect();
                    }, 5000);
                },
                error: function () {
                }
            });


        }
    }

    function setBody() {
        var body = document.getElementById('body')
        var payment = $('input[type="radio"][name="optradio"]:checked').val() == 0 ? 'online' : 'trực tiếp';
        body.innerHTML = "<h3>Thanh toán thành công bằng phương thức " + payment + ", bạn sẽ về trang sản phẩm trong " + 5 + " giây nữa</h3>"
    }


    function Redirect() {
        window.location.assign('/ListProduct?kind=0&page=1');
    }
    function addDistrict() {
        const idProvince = $("#city").val();
        $.ajax({
            url: "/addDistrict",
            type: 'get',
            data: {
                idProvince: idProvince
            },
            success: function (data) {
                const ward = document.getElementById('ward')
                ward.innerHTML = "";
                const content = document.getElementById('district')
                content.innerHTML = data;
                $.ajax({
                    url: "/changeDistrict",
                    type: 'get',
                    data: {
                        sumCheckout: $('#sumCheckout').val(),
                        discountCheckout: $('#discountCheckout').val(),
                        idDistrict: -1,
                        idWard: -1,
                        listId: $('#allId').val(),
                        totalCheckout: parseInt($('#totalCheckout').val()) + parseInt($('#shipCheckout').val())
                    },
                    success: function (data) {
                        const content = document.getElementById('totalCard')
                        content.innerHTML = data;
                    },
                    error: function () {
                    }
                });
            },
            error: function () {
            }
        });
    }

    function format1(n, currency) {
        return n.toFixed(0).replace(/./g, function (c, i, a) {
            return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "." + c : c;
        }) + currency;
    }

    function addWard() {
        const idDistrict = $("#district").val();
        $.ajax({
            url: "/addWard",
            type: 'get',
            data: {
                idDistrict: idDistrict
            },
            success: function (data) {
                const content = document.getElementById('ward')
                content.innerHTML = data;
                $.ajax({
                    url: "/changeDistrict",
                    type: 'get',
                    data: {
                        sumCheckout: $('#sumCheckout').val(),
                        discountCheckout: $('#discountCheckout').val(),
                        idDistrict: idDistrict,
                        idWard: $("#ward").val(),
                        listId: $('#allId').val(),
                        totalCheckout: parseInt($('#totalCheckout').val()) + parseInt($('#shipCheckout').val())
                    },
                    success: function (data) {
                        const content = document.getElementById('totalCard')
                        content.innerHTML = data;
                    },
                    error: function () {
                    }
                });
            },
            error: function () {
            }
        });
    }

    function changeWard() {
        const idDistrict = $("#district").val();
        $.ajax({
            url: "/changeDistrict",
            type: 'get',
            data: {
                sumCheckout: $('#sumCheckout').val(),
                discountCheckout: $('#discountCheckout').val(),
                idDistrict: idDistrict,
                idWard: $("#ward").val(),
                listId: $('#allId').val(),
                totalCheckout: parseInt($('#totalCheckout').val()) + parseInt($('#shipCheckout').val())
            },
            success: function (data) {
                const content = document.getElementById('totalCard')
                content.innerHTML = data;
            },
            error: function () {
            }
        });
    }


</script>

</body>
</html>
