<div class="edit_formUser">
    <div class="container" style="background:none;">
        <div class="col-xl-7 ftco-animate cen-div row ftco-section justify-content-center">
            <form action="/admin/updateUser" method="post" class="billing-form" style="margin-top: 5%;">
                <h3 class="mb-4 billing-heading">Chi tiết</h3>
                <div class="row align-items-end" style="font-size: 16px;">
                    <div class="d-flex flex-grow-1 row_input ">
                        <div class="col-md-6 col_addprod">
                            <div class="form-group">
                                <label>Tên Khách Hàng</label>
                                <input th:value="${user.getNameUser()}" disabled type="text" class="form-control input_addpr" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6 col_addprod">
                            <div class="form-group">
                                <label>Password</label>
                                <input th:value="'**************'" disabled type="text" class="form-control input_addpr" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-grow-1 row_input ">
                        <div class="col-md-6 col_addprod">
                            <div class="form-group">
                                <label>Email</label>
                                <input th:value="${user.getEmail()}" disabled type="text" class="form-control input_addpr" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6 col_addprod">
                            <div class="form-group">
                                <label>Số điện thoại</label>
                                <input th:value="${user.getPhone()}" disabled class="form-control input_addpr" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6 col_addprod" style="display: none">
                            <div class="form-group">
                                <label>idUser</label>
                                <input th:value="${user.getIdUser()}" name="idUser" class="form-control input_addpr" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 ">
                        <div class="form-group">
                            <label>Địa chỉ</label>
                            <input th:value="${user.getAddress()}" disabled class="form-control input_addpr" placeholder="">
                        </div>
                    </div>
                    <div class="col-md d-flex col_addprod">
                        <div class="form-group padd_right" style="">
                            <label class="">Trạng thái:</label>
                        </div>
                        <div class="form-group padd_right" style="">
                                <input type="radio" name="decentralization" value="0" class="form-" th:checked="${user.decentralization == 0}">
                            <label class="">User</label>
                        </div>
                        <div class="form-group padd_right " style="">
                            <input type="radio" name="decentralization" class="form-" value="2" th:checked="${user.decentralization == 2}">
                            <label class="">Admin</label>
                        </div>
                        <div class="form-group padd_right " style="">
                            <input type="radio" name="decentralization" class="form-" value="1" th:checked="${user.decentralization == 1}">
                            <label class="">Employee</label>
                        </div>
                        <div class="form-group padd_right " style="">
                            <input type="radio" name="decentralization" class="form-" value="-1" th:checked="${user.decentralization == -1}">
                            <label class="">Ẩn</label>
                        </div>
                    </div>
                    <div class="d-flex btn_huy_update" style="justify-content: end;">
                        <input onclick="huy()" type="button" value="Hủy">
                        <input type="submit" value=" Cập nhật">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>