<footer class="ftco-footer ftco-section">
    <div class="container">
        <div class="row">
            <div class="mouse">
                <a href="#" class="mouse-icon">
                    <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                </a>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2" style="font-size: 20px;
    font-weight: bold;
    color: #7fad39;">BHNFoods</h2>
                    <p>Công ty BHNFoods chúng tôi chưa có giấy phép kinh doanh. Xin trân trọng phục vụ quý khách! Nếu
                        quý khách xảy ra cất cứ vấn đề gì sau khi sử dụng sản phẩm của chúng tôi chúng tôi sẽ không
                        chịu trách nhiệm.
                    </p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a href="#"><span class="fa-brands fa-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="fa-brands fa-facebook-f"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="fa-brands fa-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Tổng Quan</h2>
                    <ul class="list-unstyled">
                        <li><a href="ListProduct" class="py-2 d-block">Cửa hàng</a></li>
                        <li><a href="index.html" class="py-2 d-block"></a>Giới thiệu</li>
                    </ul>
                </div>
            </div>

            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Liên Hệ</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li style="margin-bottom: 15px"><span class="icon fa-solid fa-location-dot"></span><span
                                    class="text">203 Hòa Bình, Quận Bình Thạnh, Tp.HCM</span></li>
                            <li><a href="#"><span class="icon fa-solid fa-phone"></span><span
                                    class="text">+0779807028</span></a></li>
                            <li><a href="#"><span class="icon fa-solid fa-envelope"></span><span
                                    class="text">BHNFoods@gmail.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<script th:src="@{../js/jquery.min.js}"></script>
<script th:src="@{../js/jquery-migrate-3.0.1.min.js}"></script>
<script th:src="@{../js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{../js/jquery.easing.1.3.js}"></script>
<script th:src="@{../js/jquery.waypoints.min.js}"></script>
<script th:src="@{../js/jquery.stellar.min.js}"></script>
<script th:src="@{../js/owl.carousel.min.js}"></script>
<script th:src="@{../js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{../js/aos.js}"></script>
<script th:src="@{../js/jquery.animateNumber.min.js}"></script>
<script th:src="@{../js/bootstrap-datepicker.js}"></script>
<script th:src="@{../js/scrollax.min.js}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script th:src="@{../js/google-map.js}"></script>
<script th:src="@{../js/main.js}"></script>