<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <!--  <%User user = (User) session.getAttribute("auth");%>-->
    <!--  <%&#45;&#45;        nếu là admin thì hiển thị trang chủ, log, qly người dùng , logout&#45;&#45;%>-->
    <!--  <%if (user.getDecentralization() == Powers.ADMIN) {%>-->
    <div class="nav-item">
        <a href="/admin/main" class="nav-item-link">
            <i style="margin-right: 5px;" class="menu-icon mdi mdi-home"></i>
            <span th:text="#{homePage}"></span>
        </a>
    </div>
    <div class="nav-item">
        <a href="/admin/userManager(page=1)" class="nav-item-link">
            <i style="margin-right: 5px;" class="menu-icon mdi mdi-account-circle"></i>
            <span th:text="#{userManager}"></span>
        </a>
    </div>
    <div class="nav-item">
        <a href="/admin/listOrder" class="nav-item-link">
            <i style="margin-right: 5px;" class="fa-solid fa-bars-progress"></i>
            <span th:text="#{orderManager}"></span>
        </a>
    </div>
    <div class="nav-item">
        <a href="/admin/productManager?page=1" class="nav-item-link">
            <i style="margin-right: 5px;" class="menu-icon mdi mdi-view-module"></i>
            <span th:text="#{productManager}"></span>
        </a>
    </div>
    <div class="nav-item">
        <a href="/admin/chatApp" class="nav-item-link">
            <i style="margin-right: 5px;" class="menu-icon mdi mdi-view-module"></i>
            <span th:text="#{chatApp}"></span>
        </a>
    </div>
    <div class="nav-item">
    </div>
    <div class="nav-item">
        <a href="/logOut" class="nav-item-link">
            <i style="margin-right: 5px;" class="fa-solid fa-arrow-right-from-bracket"></i>
            <span th:text="#{welcome.logout}"></span>
        </a>
    </div>
    <!--  <%} else{%>-->
</nav>
