<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BHNFoods | Lịch sử mua hàng</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="body_design/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="body_design/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="body_design/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="body_design/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="body_design/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="body_design/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="body_design/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="body_design/css/style.css" type="text/css">

    <style>
        .shoping-cart .container .row {
            border: 2px solid rgb(168, 168, 168);
            padding-top: 20px;
            margin: 20px 0;
        }

        .shoping-cart .container::before {
            content: "Lịch sử giao dịch";
            font-size: 20px;
            font-weight: bold;
        }
    </style>

</head>
<body>

<header th:replace="header"></header> <!-- Thymeleaf header inclusion -->

<section class="shoping-cart spad">
    <div class="container">

        <div th:each="entry : ${mapOrders.entrySet()}">
            <div class="row">
                <div class="col-lg-12">

                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                            <tr>
                                <th class="shoping__product">Sản Phẩm</th>
                                <th></th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Tổng</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="s : ${entry.value}">
                                <td class="shoping__cart__quantity">
                                    <img th:src="${s.url}" alt="" style="width: 100px;height: auto">
                                </td>
                                <td class="shoping__cart__item">
                                    <h5 th:text="${s.namePr}"></h5>
                                </td>
                                <td class="shoping__cart__price">
                                    <span th:text="${#numbers.formatDecimal(s.priceHere, 0, 'COMMA')} + 'đ'"></span>
                                </td>
                                <td class="shoping__cart__quantity">
                                    <span th:text="${s.amount}"></span>
                                </td>
                                <td class="shoping__cart__total">
                                    <span th:text="${#numbers.formatDecimal(s.amount * s.priceHere, 0, 'COMMA')} + 'đ'"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="d-flex justify-content-between pt-5 align-items-center">
                            <div>
                                <h5>Thời gian đặt hàng: <span th:text="${ProductService.getInstance().formatTime(s.timeSold)}"></span></h5>
                            </div>

                            <div>
                                <h5 th:if="${entry.value[0].condition == 2}" style="color:#CC3636; border: none;">Giao hàng thành công</h5>
                                <h5 th:unless="${entry.value[0].condition == 2}" style="color:#CC3636; border: none;">Giao hàng không thành công</h5>
                            </div>

                            <div>
                                <h5>Tổng đơn hàng: <span th:text="${#numbers.formatDecimal(mapSum[entry.key], 0, 'COMMA')} + 'đ'"></span></h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

<footer th:replace="footer"></footer> <!-- Thymeleaf footer inclusion -->

<script src="body_design/js/jquery-3.3.1.min.js"></script>
<script src="body_design/js/jquery.nice-select.min.js"></script>
<script src="body_design/js/jquery-ui.min.js"></script>
<script src="body_design/js/jquery.slicknav.js"></script>
<script src="body_design/js/mixitup.min.js"></script>
<script src="body_design/js/owl.carousel.min.js"></script>
<script src="body_design/js/main.js"></script>
</body>
</html>
