<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BHNFoods | Sản phẩm</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/body_design/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/body_design/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/body_design/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/body_design/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/body_design/css/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/body_design/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/body_design/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/body_design/css/style.css}" type="text/css">
</head>

<body>
<header th:include="header"></header>

<!-- Product Section Begin -->
<section class="product spad" style="padding-top: 20px">
    <div class="container">

        <!-- Sidebar -->
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <!-- Hero Categories -->
                        <div class="hero__categories">
                            <div class="hero__categories__all">
                                <span th:text="#{listProduct}">Danh sách sản phẩm</span>
                            </div>
                            <ul>
                                <li>
                                    <a th:value="${m1}"
                                       th:href="@{/listProduct(sort=${sort}, page=1,kind=m1, sortDir=${sortDir}, keyword=${keyword})}"
                                       th:text="#{rice}">Gạo</a></li>
                                <li>
                                    <a th:value="${m2}"
                                       th:href="@{/listProduct(sort=${sort}, page=1,kind=m2, sortDir=${sortDir}, keyword=${keyword})}"
                                       th:text="#{sticky-rice}">Nếp</a></li>
                                <li>
                                    <a th:value="${m3}"
                                       th:href="@{/listProduct(sort=${sort}, page=1,kind=m3, sortDir=${sortDir}, keyword=${keyword})}"
                                       th:text="#{nuts}">Các loại hạt</a></li>
                                <li><a th:value="${m4}" th:href="@{/listProduct(sort=${sort}, page=1,kind=m4, sortDir=${sortDir}, keyword=${keyword})}" th:text="#{powders}">Các loại bột</a></li>
                                <li>
                                    <a th:value="${m5}"
                                       th:href="@{/listProduct(sort=${sort}, page=1,kind=m5, sortDir=${sortDir}, keyword=${keyword})}"
                                       th:text="#{tubersAndFruits}">Các loại củ, trái</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Product Display -->
            <div class="col-lg-9 col-md-7">
                <div class="product__discount">
                    <div class="section-title product__discount__title">
                        <h2 th:text="#{sale}">Giảm giá</h2>
                    </div>
                    <div class="row">
                        <div class="product__discount__slider owl-carousel" style=" display: flex">
                            <div th:each="product : ${listDiscount}" class="col-lg-4">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg"
                                         th:style="'background-image: url(' + ${product.getAvt().getUrl()} + ')'">
                                        <div class="product__discount__percent">-<span
                                                th:text="${product.discount}"></span>%
                                        </div>
                                        <div th:if="${user != null}">
                                            <ul class="product__item__pic__hover">
                                                <!--                                                <li th:if="${listlike.contains(product.getIdPr())}">-->
                                                <!--                                                    <button th:id="'heart' + ${product.getIdPr()}" class="background-button" style="color: white"-->
                                                <!--                                                            th:onclick="'loveInListProd(' + ${product.getIdPr()} + ', ' + 'heart' + ${product.getIdPr()} + ')'">-->
                                                <!--                                                        <i class="fa fa-heart"></i>-->
                                                <!--                                                    </button>-->
                                                <!--                                                </li>-->
                                                <!--                                                <li th:if="${!listlike.contains(product.getIdPr())}">-->
                                                <!--                                                    <button th:id="'heart' + ${product.getIdPr()}"-->
                                                <!--                                                            th:onclick="'loveInListProd(' + ${product.getIdPr()} + ', ' + 'heart' + ${product.getIdPr()} + ')'">-->
                                                <!--                                                        <i class="fa fa-heart"></i>-->
                                                <!--                                                    </button>-->
                                                <!--                                                </li>-->
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <a th:href="@{/oneProduct(id=${product.idPr})}">
                                            <h5 th:text="${product.namePr}" style=" font-size: 16px"></h5>
                                            <div class="product__item__price">
                                                <span th:text="${product.getPriceNow()} + 'đ'"
                                                      style="text-decoration: none; color: black; font-size: 16px; font-weight: bold"></span>
                                                <span th:text="${#numbers.formatDecimal(product.getPrice(),0,'POINT', 0, 'COMMA')} + 'đ'"></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Filter and Product List -->
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="filter__sort">
                                <span th:text="#{arrange}">Sắp xếp</span>
                                <form id="sortForm">
                                    <select name="sort" class="sort-table" id="sort-tableID"
                                            onchange="handleChange(this)">
                                        <option class="sort-item" value="0" th:selected="${sort == '0'}"
                                                th:text="#{all}">Tất cả
                                        </option>
                                        <option class="sort-item" value="asc" th:selected="${sort == 'price'}"
                                                th:text="#{asc}">Giá thấp đến cao
                                        </option>
                                        <option class="sort-item" value="desc" th:selected="${sort == 'price'}"
                                                th:text="#{desc}">Giá cao đến thấp
                                        </option>
                                    </select>
                                    <input type="hidden" name="page" th:value="${pageCurrent}">
                                    <input type="hidden" name="kind" th:value="${kind}">
                                    <input type="hidden" name="keyword" th:value="${keyword}">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Product list -->
                <div id="content" class="row">
                    <div th:each="product : ${listPr}" class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg"
                                 th:style="'background-image: url(/' + ${product.getAvt().getUrl()} + ')'"
                                 th:classappend="${product.getDiscount() > 0} ? 'has-discount' : ''">
                                <div th:classappend="${product.getDiscount() > 0} ? 'discount__percent' : ''">
                                    <span th:text="${product.getDiscount() > 0} ? '-' + ${product.getDiscount()} + '%' : ''"></span>
                                </div>
                                <div th:if="${user != null}">
                                    <ul class="product__item__pic__hover">
                                        <!--                                        <li th:if="${listlike.contains(product.getIdPr())}">-->
                                        <!--                                            <button th:id="'heart' + ${product.getIdPr()}" class="background-button"-->
                                        <!--                                                    style="color: white"-->
                                        <!--                                                    th:onclick="'loveInListProd(' + ${product.getIdPr()} + ', ' + 'heart' + ${product.getIdPr()} + ')'">-->
                                        <!--                                                <i class="fa fa-heart"></i>-->
                                        <!--                                            </button>-->
                                        <!--                                        </li>-->
                                        <!--                                        <li th:if="${!listlike.contains(product.getIdPr())}">-->
                                        <!--                                            <button th:id="'heart' + ${product.getIdPr()}"-->
                                        <!--                                                    th:onclick="'loveInListProd(' + ${product.getIdPr()} + ', ' + 'heart' + ${product.getIdPr()} + ')'">-->
                                        <!--                                                <i class="fa fa-heart"></i>-->
                                        <!--                                            </button>-->
                                        <!--                                        </li>-->
                                    </ul>
                                </div>
                            </div>
                            <div class="product__item__text">
                                <a th:href="@{/oneProduct(id=${product.getIdPr()})}">
                                    <span th:text="${product.getNamePr()}"
                                          style="font-weight: normal; font-size: 16px"></span><br>
                                    <span th:text="${product.getPriceNow()} + 'đ'" style=" font-size: 16px"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pagination -->
                <div class="product__pagination d-flex">
                    <ul th:each="i : ${#numbers.sequence(1, total)}" style="padding: 10px;">
                        <li>
                            <a th:href="@{/listProduct(sort=${sort}, page=${i},kind=${kind}, sortDir=${sortDir}, keyword=${keyword})}"
                               th:text="${i}"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:include="chat.html"></div>
<footer th:include="footer.html"></footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    var current = 1;
    var maxCountPage = $('button.btn-loadMore').length;
    $("#btn" + current).addClass('background-button');
    var queryString = window.location.search;
    var urlParams = new URLSearchParams(queryString);
    var kind = urlParams.get('kind');
    var page = urlParams.get('page');

    function loadMoreProduct(index) {
        $("#btn" + current).removeClass('background-button');
        current = index;
        $("#btn" + current).addClass('background-button');

        $.ajax({
            url: "/loadMoreProduct",
            type: 'get',
            data: {
                kind: kind,
                page: page,
                step: current,
                sort: $('#sort-tableID').val().trim()
            },
            success: function (data) {
                const content = document.getElementById("content");
                content.innerHTML = data;
            },
            error: function () {
            }
        });
    }

    function loadMoreProductLeft() {
        $("#btn" + current).removeClass('background-button');
        if (current - 1 >= 1) {
            current -= 1;
        }
        $("#btn" + current).addClass('background-button');
        $.ajax({
            url: "/loadMoreProduct",
            type: 'get',
            data: {
                kind: kind,
                page: page,
                step: current,
                sort: $('#sort-tableID').val().trim()
            },
            success: function (data) {
                const content = document.getElementById("content");
                content.innerHTML = data;
            },
            error: function () {
            }
        });
    }

    function loadMoreProductRight() {
        $("#btn" + current).removeClass('background-button');
        if (parseInt(current) + 1 <= maxCountPage) {
            current = parseInt(current) + 1;
        }
        $("#btn" + current).addClass('background-button');
        $.ajax({
            url: "/loadMoreProduct",
            type: 'get',
            data: {
                kind: kind,
                page: page,
                step: current,
                sort: $('#sort-tableID').val().trim()
            },
            success: function (data) {
                const content = document.getElementById("content");
                content.innerHTML = data;
            },
            error: function () {
            }
        });
    }

    function loveInListProd(id, idTag) {
        let condition = 0; // 0: delete from database, 1: insert into database
        if (document.getElementById(idTag).classList.contains('background-button')) {
            $('button#' + idTag).removeClass('background-button');
            $('button#' + idTag).css('color', 'black');
            condition = 0;
        } else {
            $('button#' + idTag).addClass('background-button');
            $('button#' + idTag).css('color', 'white');
            condition = 1;
        }
        $.ajax({
            url: "/addToLoveProd",
            type: 'get',
            data: {
                id: id,
            },
            success: function (data) {

            },
            error: function () {
            }
        });
    }

    function addToCartInListProd(id, idTag) {
        $('button#' + idTag).addClass('background-button');
        $('button#' + idTag).css('color', 'white');
        $.ajax({
            url: "/addToCart",
            type: 'get',
            data: {
                id: id,
                amount: 1
            },
            success: function (data) {
                const content = document.getElementById('totalCart');
                content.innerHTML = data;
            },
            error: function () {
            }
        });
    }

    $('#sort-tableID').change(function () {
        $.ajax({
            url: "/loadMoreProduct",
            type: "get",
            data: {
                kind: kind,
                step: current,
                sort: $(this).val().trim()
            },
            success: function (data) {
                const content = document.getElementById("content");
                content.innerHTML = data;
            },
            error: function (xhr) {
            }
        })
    })

    function searchByName(param) {
        var txtSearch = param.value;
        $.ajax({
            url: "/searchByAjax",
            type: "get",
            data: {
                txt: txtSearch
            },
            success: function (data) {
                const content = document.getElementById("content");
                content.innerHTML = data;
            },
            error: function (xhr) {
            }
        })
    }

    function search(keyword) {
        const query = keyword.value;
        console.log(query)
        if (query.length != "") {
            $.ajax({
                url: '/search',
                type: 'GET',
                contentType: 'application/json',
                data: {
                    keyword: query
                },
                success: function (data) {
                    var row = document.getElementById('searchResults');
                    console.log(data)
                    row.innerHTML = '';
                    data.forEach(product => {
                        let rowHtml = ` <li class='search-item'> ${product.namePr} </li>`;
                        row.innerHTML += rowHtml;
                    });

                }
            });

        }
    };

    function handleChange(selectElement) {
        var selectedValue = selectElement.value;
        switch (selectedValue) {
            case "0":
                window.location.href = `/listProduct?sort=discount&page=1&kind=&sortDir=desc&keyword=#`;
                break;
            case "asc":
                window.location.href = "/listProduct?sort=price&page=1&kind=&sortDir=asc&keyword=#";
                break;
            case "desc":
                window.location.href = "/listProduct?sort=price&page=1&kind=&sortDir=desc&keyword=#";
                break;
            default:
                // Handle default case
                break;
        }
    }

</script>
<script th:src="@{/body_design/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/body_design/js/jquery-ui.min.js}"></script>
<script th:src="@{/body_design/js/jquery.slicknav.js}"></script>
<script th:src="@{/body_design/js/mixitup.min.js}"></script>
<script th:src="@{/body_design/js/owl.carousel.min.js}"></script>
<script th:src="@{/static/body_design/js/main.js}"></script>
</body>
</html>

