<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BHNFoods | Sản phẩm</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/body_design/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/body_design/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/body_design/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/body_design/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/body_design/css/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/body_design/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/body_design/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/body_design/css/style.css}" type="text/css">
</head>

<body>
<header th:include="header"></header>

<!-- Product Section Begin -->
<section class="product spad" style="padding-top: 20px">
    <div class="container">

        <!-- Sidebar -->
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <!-- Hero Categories -->
                        <div class="hero__categories">
                            <div class="hero__categories__all">
                                <span>Danh sách sản phẩm</span>
                            </div>
                            <ul>
                                <li><a th:href="@{/listProduct(kind=1, page=1)}">Gạo</a></li>
                                <li><a th:href="@{/listProduct(kind=2, page=1)}">Nếp</a></li>
                                <li><a th:href="@{/listProduct(kind=3, page=1)}">Các loại hạt</a></li>
                                <li><a th:href="@{/listProduct(kind=4, page=1)}">Các loại bột</a></li>
                                <li><a th:href="@{/listProduct(kind=5, page=1)}">Các loại củ, trái</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Latest Products -->
                    <div class="sidebar__item">
                        <div class="latest-product__text">
                            <h4>Sản phẩm mới nhất</h4>
                            <div class="latest-product__slider owl-carousel">
                                <div class="latest-prdouct__slider__item">
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="ImageproductNew\Bot\Bot-nang-tan-san\bot-nang-tan-sang-goi-400g-202102060020004073.jpg"
                                                 alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>Bột năng Tấn Sang</h6>
                                            <span>40.000đ</span>
                                        </div>
                                    </a>
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="ImageproductNew/Dau/dau-do-xuan-hong-goi-500g-300x300.jpg" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>Đậu đỏ Xuân Hồng 500g</h6>
                                            <span>25.000đ</span>
                                        </div>
                                    </a>
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="ImageproductNew/Khoai/khoai-mo/khoai-mo-tui-1kg-1-2-cu-202209141012253686_300x300.jpg"
                                                 alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>Khoai mỡ túi 1kg(1-2 củ)</h6>
                                            <span>35.000đ</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="latest-prdouct__slider__item">
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="ImageproductNew/Nep/gao-nep-cai-hoa-vang-coop-select-1kg-300x300.jpg"
                                                 alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>Gạo nếp Cái Hoa Vàng- CoopSelect 1kg</h6>
                                            <span>36.000đ</span>
                                        </div>
                                    </a>
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="ImageproductNew/Bot/Ngu-coc-yumfood/thuc-pham-bo-sung-ngu-coc-dinh-duong-yumfood-goi-500g-202010122202206323.jpg"
                                                 alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6> Ngũ cốc dinh dưỡng Yumfood 500g</h6>
                                            <span>105.000đ</span>
                                        </div>
                                    </a>
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="ImageproductNew/Dau/dau-den-viet-san/dau-den-viet-san-150g-202205231452334172_300x300.jpg"
                                                 alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>Đậu đen Việt San 150g</h6>
                                            <span>25.000đ</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Product Display -->
            <div class="col-lg-9 col-md-7">
                <div class="product__discount">
                    <div class="section-title product__discount__title">
                        <h2>Giảm giá</h2>
                    </div>
                    <div class="row">
                        <div class="product__discount__slider owl-carousel">
                            <div th:each="product : ${listPr}" class="col-lg-4">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg"
                                         th:style="'background-image: url('+'/' + ${product.getAvt().getUrl()} + ')'">
                                        <div class="product__discount__percent">-<span
                                                th:text="${product.discount}"></span>%
                                        </div>
                                        <div th:if="${user != null}">
                                            <ul class="product__item__pic__hover">
                                                <li th:if="${listlike.contains(product.getIdPr())}">
                                                    <button th:id="'heart' + ${product.getIdPr()}"
                                                            class="background-button" style="color: white"
                                                            th:onclick="'loveInListProd(' + ${product.getIdPr()} + ', ' + 'heart' + ${product.getIdPr()} + ')'">
                                                        <i class="fa fa-heart"></i>
                                                    </button>
                                                </li>
                                                <li th:if="${!listlike.contains(product.getIdPr())}">
                                                    <!--                                                    <button th:id="'heart' + ${product.getIdPr()}" th:onclick="'loveInListProd(' + ${product.getIdPr()} + ', ' + 'heart' + ${product.getIdPr()} + ')'">-->
                                                    <!--                                                        <i class="fa fa-heart"></i>-->
                                                    <!--                                                    </button>-->
                                                    <button th:id="'heart' + ${product.getIdPr()}"
                                                            onclick="loveInListProd([[${product.getIdPr()}]], 'heart' + [[${product.getIdPr()}]])">
                                                        <i class="fa fa-heart"></i></button>
                                                </li>
                                                <!-- Kiểm tra giỏ hàng -->
                                                <!--                                                <li th:if="${cart.contains(product.getIdPr())}">-->
                                                <!--                                                    <button th:id="'cart' + ${product.idPr}" class="background-button" style="color: white" th:onclick="'addToCartInListProd(' + ${product.getIdPr()} + ', ' + 'cart' + ${product.getIdPr()} + ')'">-->
                                                <!--                                                        <i class="fa fa-shopping-cart"></i>-->
                                                <!--                                                    </button>-->
                                                <!--                                                </li>-->
                                                <!--                                                <li th:if="${!cart.contains(product.getIdPr())}">-->
                                                <!--                                                    <button th:id="'cart' + ${product.getIdPr()}" th:onclick="'addToCartInListProd(' + ${product.getIdPr()} + ', ' + 'cart' + ${product.getIdPr()} + ')'">-->
                                                <!--                                                        <i class="fa fa-shopping-cart"></i>-->
                                                <!--                                                    </button>-->
                                                <!--                                                </li>-->
                                            </ul>
                                        </div>
                                        <!--                                        <div th:if="${userId == null}">-->
                                        <!--                                            <ul class="product__item__pic__hover">-->
                                        <!--                                                <li th:if="${listlike != null and listlike.contains(product.getIdPr())}">-->
                                        <!--                                                    <button th:id="'heart' + ${product.getIdPr()}" class="background-button" style="color: white" th:onclick="'loveInListProd(' + ${product.getIdPr()} + ', ' + 'heart' + ${product.idPr} + ')'">-->
                                        <!--                                                        <i class="fa fa-heart"></i>-->
                                        <!--                                                    </button>-->
                                        <!--                                                </li>-->
                                        <!--                                                <li th:if="${listlike == null or !listlike.contains(product.getIdPr())}">-->
                                        <!--                                                    <button th:id="'heart' + ${product.getIdPr()}" th:onclick="'loveInListProd(' + ${product.getIdPr()} + ', ' + 'heart' + ${product.getIdPr()} + ')'">-->
                                        <!--                                                        <i class="fa fa-heart"></i>-->
                                        <!--                                                    </button>-->
                                        <!--                                                </li>-->
                                        <!--                                                &lt;!&ndash; Kiểm tra giỏ hàng &ndash;&gt;-->
                                        <!--&lt;!&ndash;                                                <li th:if="${cartSession != null and cartSession.containsKey(product.idPr)}">&ndash;&gt;-->
                                        <!--&lt;!&ndash;                                                    <button th:id="'cart' + ${product.idPr}" class="background-button" style="color: white" th:onclick="'addToCartInListProd(' + ${product.idPr} + ', ' + 'cart' + ${product.idPr} + ')'">&ndash;&gt;-->
                                        <!--&lt;!&ndash;                                                        <i class="fa fa-shopping-cart"></i>&ndash;&gt;-->
                                        <!--&lt;!&ndash;                                                    </button>&ndash;&gt;-->
                                        <!--&lt;!&ndash;                                                </li>&ndash;&gt;-->
                                        <!--&lt;!&ndash;                                                <li th:if="${cartSession == null or !cartSession.containsKey(product.idPr)}">&ndash;&gt;-->
                                        <!--&lt;!&ndash;                                                    <button th:id="'cart' + ${product.idPr}" th:onclick="'addToCartInListProd(' + ${product.idPr} + ', ' + 'cart' + ${product.idPr} + ')'">&ndash;&gt;-->
                                        <!--&lt;!&ndash;                                                        <i class="fa fa-shopping-cart"></i>&ndash;&gt;-->
                                        <!--&lt;!&ndash;                                                    </button>&ndash;&gt;-->
                                        <!--&lt;!&ndash;                                                </li>&ndash;&gt;-->
                                        <!--                                            </ul>-->
                                        <!--                                        </div>-->
                                    </div>
                                    <div class="product__discount__item__text">
                                        <a th:href="@{/oneProduct(id=${product.idPr})}">
                                            <span>Gạo</span>
                                            <h5 th:text="${product.namePr}"></h5>
                                            <div class="product__item__price">
                                                <span th:text="${product.getPriceNow()} + 'đ'"></span>
                                                <!--                                                <span th:text="${#numbers.formatNumber(product.price, 0, 'decimal').replace(',','.')} + 'đ'"></span>-->
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Filter and Product List -->
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="filter__sort">
                                <span>Sắp xếp</span>
                                <select name="sort" class="sort-table" id="sort-tableID">
                                    <option class="sort-item" value="0">Tất cả</option>
                                    <option class="sort-item" value="1">Giảm Giá</option>
                                    <option class="sort-item" value="2">Giá thấp đến cao</option>
                                    <option class="sort-item" value="3">Giá cao đến thấp</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Product list -->
                <div id="content" class="row">
                    <div th:each="product : ${listPr}" class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg"
                                 th:style="'background-image: url(/' + ${product.getAvt().getUrl()} + ')'"
                                 th:classappend="${product.getDiscount() > 0} ? 'has-discount' : ''">
                                <div th:classappend="${product.getDiscount() > 0} ? 'discount__percent' : ''"><span
                                        th:text="${product.getDiscount >0} ? '-'+ ${product.getDiscount}+'%' : ''"></span>
                                </div>
                                <div th:if="${user != null}">
                                    <ul class="product__item__pic__hover">
                                        <li th:if="${listlike.contains(product.getIdPr())}">
                                            <button th:id="'heart' + ${product.getIdPr()}" class="background-button"
                                                    style="color: white"
                                                    th:onclick="'loveInListProd(' + ${product.getIdPr()} + ', ' + 'heart' + ${product.getIdPr()} + ')'">
                                                <i class="fa fa-heart"></i>
                                            </button>
                                        </li>
                                        <li th:if="${!listlike.contains(product.getIdPr())}">
                                            <!--                                            <button th:id="'heart' + ${product.getIdPr()}" th:onclick="'loveInListProd(' + ${product.getIdPr()} + ', ' + 'heart' + ${product.getIdPr()} + ')'">-->
                                            <!--                                                <i class="fa fa-heart"></i>-->
                                            <!--                                            </button>-->
                                        </li>
                                        <!--                                        <li th:if="${#bools.isTrue(cartService.checkExist(user.idUser, product.idPr))}">-->
                                        <!--                                            <button th:id="'cart' + ${product.getIdPr()}" class="background-button" style="color: white" th:onclick="'addToCartInListProd(' + ${product.getIdPr()} + ', ' + 'cart' + ${product.getIdPr()} + ')'">-->
                                        <!--                                                <i class="fa fa-shopping-cart"></i>-->
                                        <!--                                            </button>-->
                                        <!--                                        </li>-->
                                        <!--                                        <li th:if="${#bools.isFalse(cartService.checkExist(user.idUser, product.idPr))}">-->
                                        <!--                                            <button th:id="'cart' + ${product.getIdPr()}" th:onclick="'addToCartInListProd(' + ${product.getIdPr()} + ', ' + 'cart' + ${product.getIdPr()} + ')'">-->
                                        <!--                                                <i class="fa fa-shopping-cart"></i>-->
                                        <!--                                            </button>-->
                                        <!--                                        </li>-->
                                    </ul>
                                </div>
                                <div th:if="${user == null}">
                                    <!--                                    <ul class="product__item__pic__hover">-->
                                    <!--                                        <li th:if="${loveProductInSession != null and loveProductInSession.contains(product.idPr)}">-->
                                    <!--                                            <button th:id="'heart' + ${product.idPr}" class="background-button" style="color: white" th:onclick="'loveInListProd(' + ${product.idPr} + ', ' + 'heart' + ${product.idPr} + ')'">-->
                                    <!--                                                <i class="fa fa-heart"></i>-->
                                    <!--                                            </button>-->
                                    <!--                                        </li>-->
                                    <!--                                        <li th:if="${loveProductInSession == null or !loveProductInSession.contains(product.idPr)}">-->
                                    <!--                                            <button th:id="'heart' + ${product.idPr}" th:onclick="'loveInListProd(' + ${product.idPr} + ', ' + 'heart' + ${product.idPr} + ')'">-->
                                    <!--                                                <i class="fa fa-heart"></i>-->
                                    <!--                                            </button>-->
                                    <!--                                        </li>-->
                                    <!--                                        <li th:if="${listProductFromCartInSession != null and listProductFromCartInSession.containsKey(product.idPr)}">-->
                                    <!--                                            <button th:id="'cart' + ${product.idPr}" class="background-button" style="color: white" th:onclick="'addToCartInListProd(' + ${product.idPr} + ', ' + 'cart' + ${product.idPr} + ')'">-->
                                    <!--                                                <i class="fa fa-shopping-cart"></i>-->
                                    <!--                                            </button>-->
                                    <!--                                        </li>-->
                                    <!--                                        <li th:if="${listProductFromCartInSession == null or !listProductFromCartInSession.containsKey(product.idPr)}">-->
                                    <!--                                            <button th:id="'cart' + ${product.idPr}" th:onclick="'addToCartInListProd(' + ${product.idPr} + ', ' + 'cart' + ${product.idPr} + ')'">-->
                                    <!--                                                <i class="fa fa-shopping-cart"></i>-->
                                    <!--                                            </button>-->
                                    <!--                                        </li>-->
                                    <!--                                    </ul>-->
                                </div>
                            </div>
                            <div class="product__item__text">
                                <a th:href="@{/oneProduct(id=${product.getIdPr()})}">
                                    <span th:text="${product.getNamePr()}"></span><br>
                                    <span th:text="${product.getPriceNow()} + 'đ'"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pagination -->
                <div class="product__pagination">
                    <!-- Pagination buttons here -->
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:include="footer.html"></footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    var current = 1;
    var maxCountPage = $('button.btn-loadMore').length;
    $("#btn" + current).addClass('background-button');
    var queryString = window.location.search;
    var urlParams = new URLSearchParams(queryString);
    var kind = urlParams.get('kind');
    var page = urlParams.get('page');

    function loadMoreProduct(index) {
        $("#btn" + current).removeClass('background-button');
        current = index;
        $("#btn" + current).addClass('background-button');

        $.ajax({
            url: "/loadMoreProduct",
            type: 'get',
            data: {
                kind: kind,
                page: page,
                step: current,
                sort: $('#sort-tableID').val().trim()
            },
            success: function (data) {
                const content = document.getElementById("content");
                content.innerHTML = data;
            },
            error: function () {
            }
        });
    }

    function loadMoreProductLeft() {
        $("#btn" + current).removeClass('background-button');
        if (current - 1 >= 1) {
            current -= 1;
        }
        $("#btn" + current).addClass('background-button');
        $.ajax({
            url: "/loadMoreProduct",
            type: 'get',
            data: {
                kind: kind,
                page: page,
                step: current,
                sort: $('#sort-tableID').val().trim()
            },
            success: function (data) {
                const content = document.getElementById("content");
                content.innerHTML = data;
            },
            error: function () {
            }
        });
    }

    function loadMoreProductRight() {
        $("#btn" + current).removeClass('background-button');
        if (parseInt(current) + 1 <= maxCountPage) {
            current = parseInt(current) + 1;
        }
        $("#btn" + current).addClass('background-button');
        $.ajax({
            url: "/loadMoreProduct",
            type: 'get',
            data: {
                kind: kind,
                page: page,
                step: current,
                sort: $('#sort-tableID').val().trim()
            },
            success: function (data) {
                const content = document.getElementById("content");
                content.innerHTML = data;
            },
            error: function () {
            }
        });
    }

    function loveInListProd(id, idTag) {
        let condition = 0; //0 la detele khoi database, 1 la insert vao database
        if (document.getElementById(idTag).classList.contains('background-button')) {
            $('button#' + idTag).removeClass('background-button');
            $('button#' + idTag).css('color', 'black')
            condition = 0;
        } else {
            $('button#' + idTag).addClass('background-button');
            $('button#' + idTag).css('color', 'white')
            condition = 1;
        }
        $.ajax({
            url: "/addToLoveProd",
            type: 'get',
            data: {
                id: id,
            },
            error: function () {
            }
        });
    }

    function addToCartInListProd(id, idTag) {
        $('button#' + idTag).addClass('background-button');
        $('button#' + idTag).css('color', 'white');
        $.ajax({
            url: "/addToCart",
            type: 'get',
            data: {
                id: id,
                amount: 1
            },
            success: function (data) {
                const content = document.getElementById('totalCart');
                content.innerHTML = data;
            },
            error: function () {
            }
        });
    }

    $('#sort-tableID').change(function () {
        $.ajax({
            url: "/loadMoreProduct",
            type: "get",
            data: {
                kind: kind,
                step: current,
                sort: $(this).val().trim()
            },
            success: function (data) {
                const content = document.getElementById("content");
                content.innerHTML = data;
            },
            error: function (xhr) {
            }
        })
    })

    function searchByName(param) {
        var txtSearch = param.value;
        $.ajax({
            url: "/searchByAjax",
            type: "get",
            data: {
                txt: txtSearch
            },
            success: function (data) {
                const content = document.getElementById("content");
                content.innerHTML = data;
            },
            error: function (xhr) {
            }
        })
    }

   function search(keyword) {
        const query = keyword.value;
        console.log(query)
        if (query.length != "") {
            $.ajax({
                url: '/search',
                type: 'GET',
                contentType: 'application/json',
                data: {
                    keyword: query
                },
                success: function (data) {
                    var row = document.getElementById('searchResults');
                    console.log(data)
                    row.innerHTML= '';
                    data.forEach(product => {
                        let rowHtml = ` <li class='search-item'> ${product.namePr} </li>`;
                        row.innerHTML += rowHtml;
                    });

                }
            });

        }
    };

    // $(document).on('click', '.search-item', function () {
    //     $('#searchInput').val($(this).text());
    //     $('#searchResults').fadeOut();
    // });
</script>
<script th:src="@{/body_design/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/body_design/js/jquery-ui.min.js}"></script>
<script th:src="@{/body_design/js/jquery.slicknav.js}"></script>
<script th:src="@{/body_design/js/mixitup.min.js}"></script>
<script th:src="@{/body_design/js/owl.carousel.min.js}"></script>
<script th:src="@{/static/body_design/js/main.js}"></script>
</body>
</html>
