<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact View</title>
    <link rel="stylesheet" href="/path/to/bootstrap.css">
</head>
<body>
<div class="edit_formUser">
    <div class="container" style="background:none; margin-top: 10%">
        <div class="col-xl-7 ftco-animate cen-div row ftco-section justify-content-center">
            <form  class="billing-form" style="margin-top: 2%;">
                <h3 class="mb-4 billing-heading" style="color: #7fad39;">PHẢN HỒI KHÁCH HÀNG</h3>
                <div class="row align-items-end" style="font-size: 16px;">
                    <div class="col-md-12 col_addprod">
                        <div class="form-group">
                            <h4 class="padding10px">Thông tin khách hàng phản hồi</h4>
                            <p class="padding10px">Tên khách hàng: <span th:text="${nameUser}"></span></p>
                            <p class="padding10px">Số điện thoại: <span th:text="${phone}"></span></p>
                            <p class="padding10px">Email: <span th:text="${email}"></span></p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group" style="display: none">
                            <label>ID</label>
                            <input type="text" th:value="${idContact}" name="idContact" class="form-control input_addpr" placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Nội dung </label>
                            <div name="content" style="height:auto;" class="form-control contentContact">
                                <p th:text="${content}"></p>
                            </div>
                        </div>
                        <div class="form-group" style="display: none;">
                            <input type="radio" checked class="form-" name="condition" th:value="${condition}" placeholder="">
                        </div>
                    </div>
                    <div class="col-md-12 d-flex btn_huy_update" style="justify-content: end;">
                        <input onclick="huy()" type="submit" value="Đóng"></input>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/path/to/bootstrap.js"></script>
</body>
</html>
